*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.ln{
    color: white;
}
.ln:hover{
    transition: linear .5s;
    color: #13357b;
    letter-spacing: 2px;
}
.button{
    background-color: #13357B;
    color: white;
} 

.button:hover{
    border: 1px solid #13357B;
    background-color: white;
    color: #13357B;
}
.bgc{
    color: #13357b;
    background-color: white;
}
.bgc:hover{
    color: white;
    background-color: #13357b;
    border: 1px solid white;
}
.box{
    background-color: white;

}
.box  i{
    color: #044ad5;
    
    
}
.box  i:hover{
    color: white;
}
.box:hover{
    transition-duration: 1s;
    background-color: #13357B;
    color: white;
}